{
  "openapi": "3.0.3",
  "info": {
    "title": "KMS/SecretManager/CloudHSM API",
    "version": "1.2.0",
    "description": "さくらのクラウド KMS / SecretManager / CloudHSM API"
  },
  "servers": [
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1",
      "description": "石狩第1ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1b/api/cloud/1.1",
      "description": "石狩第2ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1c/api/cloud/1.1",
      "description": "石狩第3ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/tk1a/api/cloud/1.1",
      "description": "東京第1ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/tk1b/api/cloud/1.1",
      "description": "東京第2ゾーン"
    }
  ],
  "paths": {
    "/secretmanager/vaults": {
      "get": {
        "operationId": "listVaults",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVaultList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createVault",
        "tags": [
          "secretmanager-vault"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCreateVaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCreateVault"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/secretmanager/vaults/{resource_id}": {
      "get": {
        "operationId": "readVault",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedVault"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "updateVault",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedVaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedVault"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteVault",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/secretmanager/vaults/{vault_resource_id}/secrets": {
      "get": {
        "operationId": "listVaultSecrets",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "vault_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSecretResponseList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createVaultSecret",
        "description": "新しいバージョンを作成します。シークレット値は最新を含む50世代まで保持され、より古い世代は削除されます。",
        "parameters": [
          {
            "in": "path",
            "name": "vault_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCreateSecretRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCreateSecretResponse"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteVaultSecret",
        "parameters": [
          {
            "in": "path",
            "name": "vault_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedDeleteSecretRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/secretmanager/vaults/{vault_resource_id}/secrets/unveil": {
      "post": {
        "operationId": "unveilSecret",
        "description": "シークレット値を取得します。取得できるのは最新を含む50世代までです。",
        "parameters": [
          {
            "in": "path",
            "name": "vault_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "secretmanager-vault"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedUnveilRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedUnveilResponse"
                }
              }
            },
            "description": ""
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "schemas": {
      "CreateSecretRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Value": {
            "type": "string",
            "writeOnly": true,
            "minLength": 1
          }
        },
        "required": [
          "Name",
          "Value"
        ]
      },
      "CreateSecretResponse": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "maxLength": 255
          },
          "LatestVersion": {
            "type": "integer",
            "description": "最新のバージョン番号（1以上）",
            "minimum": 1,
            "example": 1
          }
        },
        "required": [
          "LatestVersion",
          "Name"
        ]
      },
      "CreateVault": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "KmsKeyID": {
            "type": "string",
            "title": "KMS 鍵ID",
            "maxLength": 255,
            "example": "110000000000"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "KmsKeyID",
          "Name"
        ]
      },
      "CreateVaultRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "KmsKeyID": {
            "type": "string",
            "minLength": 1,
            "title": "KMS 鍵ID",
            "maxLength": 255,
            "example": "110000000000"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "KmsKeyID",
          "Name"
        ]
      },
      "PaginatedSecretResponseList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "Secrets",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "Secrets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretResponse"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PaginatedVaultList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "Vaults",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "Vaults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vault"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SecretResponse": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "maxLength": 255
          },
          "LatestVersion": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "LatestVersion",
          "Name"
        ]
      },
      "UnveilRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1
          },
          "Version": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "Name"
        ]
      },
      "UnveilResponse": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Value": {
            "type": "string"
          }
        },
        "required": [
          "Name",
          "Value",
          "Version"
        ]
      },
      "Vault": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "KmsKeyID": {
            "type": "string",
            "readOnly": true,
            "title": "KMS 鍵ID",
            "example": "110000000000"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "CreatedAt",
          "Description",
          "ID",
          "KmsKeyID",
          "ModifiedAt",
          "Name",
          "Tags"
        ]
      },
      "VaultRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "Name"
        ]
      },
      "WrappedCreateSecretRequest": {
        "type": "object",
        "properties": {
          "Secret": {
            "$ref": "#/components/schemas/CreateSecretRequest"
          }
        },
        "required": [
          "Secret"
        ]
      },
      "WrappedCreateSecretResponse": {
        "type": "object",
        "properties": {
          "Secret": {
            "$ref": "#/components/schemas/CreateSecretResponse"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Secret",
          "is_ok"
        ]
      },
      "WrappedCreateVault": {
        "type": "object",
        "properties": {
          "Vault": {
            "$ref": "#/components/schemas/CreateVault"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Vault",
          "is_ok"
        ]
      },
      "WrappedCreateVaultRequest": {
        "type": "object",
        "properties": {
          "Vault": {
            "$ref": "#/components/schemas/CreateVaultRequest"
          }
        },
        "required": [
          "Vault"
        ]
      },
      "WrappedUnveilRequest": {
        "type": "object",
        "properties": {
          "Secret": {
            "$ref": "#/components/schemas/UnveilRequest"
          }
        },
        "required": [
          "Secret"
        ]
      },
      "WrappedUnveilResponse": {
        "type": "object",
        "properties": {
          "Secret": {
            "$ref": "#/components/schemas/UnveilResponse"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Secret",
          "is_ok"
        ]
      },
      "WrappedVault": {
        "type": "object",
        "properties": {
          "Vault": {
            "$ref": "#/components/schemas/Vault"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Vault",
          "is_ok"
        ]
      },
      "WrappedVaultRequest": {
        "type": "object",
        "properties": {
          "Vault": {
            "$ref": "#/components/schemas/VaultRequest"
          }
        },
        "required": [
          "Vault"
        ]
      },
      "WrappedDeleteSecretRequest": {
        "type": "object",
        "properties": {
          "Secret": {
            "type": "object",
            "properties": {
              "Name": {
                "type": "string"
              }
            },
            "required": [
              "Name"
            ]
          }
        },
        "required": [
          "Secret"
        ]
      },
      "DateTime": {
        "type": "string",
        "format": "iso8601",
        "example": "2025-02-05T12:19:22.551827+09:00"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "APIキーとシークレットをご利用ください"
      }
    }
  }
}
