{
  "openapi": "3.0.3",
  "info": {
    "title": "さくらのクラウドIAM API",
    "version": "1.3.0",
    "contact": {
      "name": "SAKURA internet Inc."
    },
    "description": "さくらのクラウドIAMのAPIドキュメントです"
  },
  "servers": [
    {
      "url": "https://secure.sakura.ad.jp/cloud/api/iam/1.0"
    }
  ],
  "security": [
    {
      "ServicePrincipalAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "x-displayName": "認証",
      "description": "認証に関する機能"
    },
    {
      "name": "user",
      "x-displayName": "ユーザ",
      "description": "ユーザに関する機能"
    },
    {
      "name": "user-2fa",
      "x-displayName": "ユーザ2要素認証",
      "description": "ユーザの2要素認証に関する機能"
    },
    {
      "name": "group",
      "x-displayName": "グループ",
      "description": "グループに関する機能"
    },
    {
      "name": "iam-role",
      "x-displayName": "IAMロール",
      "description": "IAMロールに関する機能"
    },
    {
      "name": "id-role",
      "x-displayName": "IDロール",
      "description": "IDロールに関する機能"
    },
    {
      "name": "project",
      "x-displayName": "プロジェクト",
      "description": "プロジェクトに関する機能"
    },
    {
      "name": "folder",
      "x-displayName": "フォルダ",
      "description": "フォルダに関する機能"
    },
    {
      "name": "iam-policy",
      "x-displayName": "IAMポリシー",
      "description": "IAMポリシーに関する機能"
    },
    {
      "name": "id-policy",
      "x-displayName": "IDポリシー",
      "description": "IDポリシーに関する機能"
    },
    {
      "name": "service-principal",
      "x-displayName": "サービスプリンシパル",
      "description": "サービスプリンシパルに関する機能"
    },
    {
      "name": "project-apikey",
      "x-displayName": "プロジェクトAPIキー",
      "description": "クラウドAPIにアクセスするためのAPIキーに関する機能。"
    },
    {
      "name": "sso",
      "x-displayName": "SSO連携",
      "description": "SSO連携に関する機能"
    },
    {
      "name": "organization",
      "x-displayName": "組織",
      "description": "IAM APIの組織に関する機能"
    },
    {
      "name": "service-policy",
      "x-displayName": "サービスポリシー",
      "description": "サービスポリシーに関する機能"
    },
    {
      "name": "scim",
      "x-displayName": "ユーザープロビジョニング",
      "description": "ユーザープロビジョニングに関する機能"
    }
  ],
  "paths": {
    "/compat/users": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "ユーザ一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "並び替えキー\n* `code` - ユーザコード昇順\n* `-code` - ユーザコード降順\n",
            "schema": {
              "type": "string",
              "enum": [
                "code",
                "-code"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "ユーザを作成する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "ユーザの名前",
                    "description": "ユーザの名前"
                  },
                  "password": {
                    "type": "string",
                    "example": "********",
                    "description": "ユーザのパスワード\n英数字とASCII標準文字における記号 !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~ のみ受け付ける\n英字と数字を必ず含める必要がある\n"
                  },
                  "code": {
                    "type": "string",
                    "example": "user_code",
                    "description": "ユーザコード"
                  },
                  "description": {
                    "type": "string",
                    "example": "ユーザの説明"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "SSOプロファイル有効時に外部IdPのログインで利用するメールアドレス"
                  }
                },
                "required": [
                  "name",
                  "password",
                  "code",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "409": {
            "description": "ユーザコードやメールアドレスの重複",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http409Conflict"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "get": {
        "tags": [
          "user"
        ],
        "summary": "指定したユーザを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "指定したユーザを更新する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "ユーザの名前"
                  },
                  "password": {
                    "type": "string",
                    "example": "********"
                  },
                  "description": {
                    "type": "string",
                    "example": "ユーザの説明"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "指定したユーザを削除する",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/deactivate-otp": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "post": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザのOTPを無効化する",
        "description": "指定したユーザのワンタイムパスワード認証を無効化します。\n",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/trusted-devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "get": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザの信頼済みデバイス一覧を取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserTrustedDevice"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/trusted-devices/{trusted_device_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        },
        {
          "$ref": "#/components/parameters/TrustedDeviceID"
        }
      ],
      "delete": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザの信頼済みデバイスを削除する",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/clear-trusted-devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "post": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザの全信頼済みデバイスを削除する",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/register-email": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "post": {
        "tags": [
          "user"
        ],
        "summary": "ユーザにメールアドレスを登録する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "メールアドレス",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "409": {
            "description": "メールアドレスが重複している",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http409Conflict"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/unregister-email": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "post": {
        "tags": [
          "user"
        ],
        "summary": "ユーザのメールアドレスを削除する",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/security-keys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        }
      ],
      "get": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザのセキュリティキー一覧を取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserSecurityKey"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したユーザが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/compat/users/{user_id}/security-keys/{security_key_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/UserID"
        },
        {
          "$ref": "#/components/parameters/SecurityKeyID"
        }
      ],
      "get": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザのセキュリティキーを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSecurityKey"
                },
                "examples": {
                  "Response1": {
                    "summary": "登録直後のレスポンス",
                    "value": {
                      "id": 1,
                      "name": "",
                      "sign_count": 0,
                      "aaguid": "00000000-0000-0000-0000-000000000000",
                      "registered_at": "2025-08-27T10:00:00.123456+09:00",
                      "last_used_at": null
                    }
                  },
                  "Response2": {
                    "summary": "ログイン認証で利用後のレスポンス",
                    "value": {
                      "id": 1,
                      "name": "ユーザが設定した名前",
                      "sign_count": 1,
                      "aaguid": "00000000-0000-0000-0000-000000000000",
                      "registered_at": "2025-08-27T10:00:00.123456+09:00",
                      "last_used_at": "2025-08-27T11:00:00.123456+09:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したセキュリティキーが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザのセキュリティキーを更新する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "セキュリティキー名",
                    "example": "ユーザが任意に設定する名前"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSecurityKey"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したセキュリティキーが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "user-2fa"
        ],
        "summary": "ユーザのセキュリティキーを削除する",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したセキュリティキーが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "グループ一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "並び替えキー\n* `name` - グループ名昇順\n* `-name` - グループ名降順\n",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name"
              ]
            }
          },
          {
            "name": "compat_user_id",
            "in": "query",
            "description": "所属するユーザIDでの絞り込み",
            "schema": {
              "type": "integer",
              "example": 111111111111
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Group"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "summary": "グループを作成する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "マイグループ",
                    "description": "グループの名前"
                  },
                  "description": {
                    "type": "string",
                    "example": "グループの説明"
                  }
                },
                "required": [
                  "name",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "409": {
            "description": "グループ数の上限到達",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http409Conflict"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "tags": [
          "group"
        ],
        "summary": "指定したグループを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したグループが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "group"
        ],
        "summary": "指定したグループを更新する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "グループの名前"
                  },
                  "description": {
                    "type": "string",
                    "example": "グループの説明"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したグループが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "group"
        ],
        "summary": "指定したグループを削除する",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したグループが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group_id}/memberships": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GroupID"
        }
      ],
      "get": {
        "tags": [
          "group"
        ],
        "summary": "グループの所属情報を取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberships"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したグループが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "group"
        ],
        "summary": "グループの所属情報を更新する",
        "requestBody": {
          "description": "グループの所属情報",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "compat_users"
                ],
                "properties": {
                  "compat_users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ユーザID",
                          "example": 111111111111
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMemberships"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したグループが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/iam-roles": {
      "get": {
        "tags": [
          "iam-role"
        ],
        "summary": "IAMロール一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/IamRole"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/iam-roles/{iam_role_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IamRoleID"
        }
      ],
      "get": {
        "tags": [
          "iam-role"
        ],
        "summary": "指定したIAMロールを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IamRole"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したIAMロールが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/id-roles": {
      "get": {
        "tags": [
          "id-role"
        ],
        "summary": "IDロール一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/IdRole"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/id-roles/{id_role_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IdRoleID"
        }
      ],
      "get": {
        "tags": [
          "id-role"
        ],
        "summary": "指定したIDロールを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdRole"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したIAMロールが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "プロジェクト一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "並び替えキー\n\n* `code` - プロジェクトコード昇順\n* `-code` - プロジェクトコード降順\n",
            "schema": {
              "type": "string",
              "enum": [
                "code",
                "-code"
              ]
            }
          },
          {
            "name": "iam_role",
            "in": "query",
            "description": "IAMロールでの絞り込み。カンマ区切りで複数指定可能",
            "schema": {
              "type": "string",
              "example": "resource-creator,billing-viewer"
            }
          },
          {
            "name": "parent_folder_id",
            "in": "query",
            "description": "親のフォルダIDでの絞り込み。",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Project"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "project"
        ],
        "summary": "プロジェクトを作成する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "name",
                  "description"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "my-sakura-project-code",
                    "description": "プロジェクトコード"
                  },
                  "parent_folder_id": {
                    "type": "integer",
                    "example": 112000000000,
                    "description": "プロジェクトのフォルダID"
                  },
                  "name": {
                    "type": "string",
                    "example": "My Sakura Project",
                    "description": "プロジェクトの名前"
                  },
                  "description": {
                    "type": "string",
                    "example": "My Sakura Project details",
                    "description": "プロジェクトの説明"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "プロジェクトの作成に成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                },
                "examples": {
                  "ParentIdNotFound": {
                    "summary": "親フォルダが見つからない",
                    "value": {
                      "type": "about:blank",
                      "status": 400,
                      "title": "parant_not_found",
                      "detail": "親フォルダが見つかりません。",
                      "errors": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "409": {
            "description": "プロジェクトコードの重複",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http409Conflict"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/move-projects": {
      "post": {
        "tags": [
          "project"
        ],
        "summary": "プロジェクトを一括で移動する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveProjects"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "成功"
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                },
                "examples": {
                  "ProjectIdNotFound": {
                    "summary": "指定されたプロジェクトが見つからない",
                    "value": {
                      "type": "about:blank",
                      "status": 400,
                      "title": "project_not_found",
                      "detail": "指定されたプロジェクトが見つかりません。",
                      "errors": {}
                    }
                  },
                  "ParentIdNotFound": {
                    "summary": "親フォルダが見つからない",
                    "value": {
                      "type": "about:blank",
                      "status": 400,
                      "title": "parant_not_found",
                      "detail": "親フォルダが見つかりません。",
                      "errors": {}
                    }
                  },
                  "DuplicateProjectNames": {
                    "summary": "同じ階層に同じ名前のプロジェクトを登録できない",
                    "value": {
                      "type": "about:blank",
                      "status": 400,
                      "title": "duplicate_project_names",
                      "detail": "同じ階層に同じ名前のプロジェクトを登録できません。",
                      "errors": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "フォルダが存在しない。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "tags": [
          "project"
        ],
        "summary": "指定したプロジェクトを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したプロジェクトが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "project"
        ],
        "summary": "指定したプロジェクトを更新する",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "プロジェクトの名前",
                    "example": "My Sakura Project"
                  },
                  "description": {
                    "type": "string",
                    "description": "プロジェクトの説明",
                    "example": "My Sakura Project details"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したプロジェクトが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "project"
        ],
        "summary": "指定したプロジェクトを削除する",
        "responses": {
          "204": {
            "description": "プロジェクトの削除に成功しました"
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したプロジェクトが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "409": {
            "description": "プロジェクト配下にリソースが存在する",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http409Conflict"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/iam-policy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "tags": [
          "iam-policy"
        ],
        "summary": "プロジェクトIAMポリシーを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したプロジェクトが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "iam-policy"
        ],
        "summary": "プロジェクトIAMポリシーを更新する",
        "requestBody": {
          "description": "プロジェクトIAMポリシーの情報を含んだJSON",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bindings"
                ],
                "properties": {
                  "bindings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IamPolicy"
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したプロジェクトが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/iam-policy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FolderID"
        }
      ],
      "get": {
        "tags": [
          "iam-policy"
        ],
        "summary": "フォルダIAMポリシーを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したフォルダが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "iam-policy"
        ],
        "summary": "フォルダIAMポリシーを更新する",
        "requestBody": {
          "description": "フォルダIAMポリシーの情報を含んだJSON",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bindings"
                ],
                "properties": {
                  "bindings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IamPolicy"
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "指定したフォルダが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http404NotFound"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/organization-iam-policy": {
      "get": {
        "tags": [
          "iam-policy"
        ],
        "summary": "組織IAMポリシーを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "iam-policy"
        ],
        "summary": "組織IAMポリシーを更新する",
        "requestBody": {
          "description": "組織IAMポリシーの情報を含んだJSON",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bindings"
                ],
                "properties": {
                  "bindings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IamPolicy"
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IamPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/organization-id-policy": {
      "get": {
        "tags": [
          "id-policy"
        ],
        "summary": "組織IDポリシーを取得する",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IdPolicy"
                      }
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "identity-admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "id-policy"
        ],
        "summary": "組織IDポリシーを更新する",
        "requestBody": {
          "description": "組織IDポリシーの情報を含んだJSON",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bindings"
                ],
                "properties": {
                  "bindings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IdPolicy"
                    }
                  }
                },
                "example": {
                  "bindings": [
                    {
                      "role": {
                        "type": "preset",
                        "id": "identity-admin"
                      },
                      "principals": [
                        {
                          "type": "user",
                          "id": 111111111111
                        },
                        {
                          "type": "group",
                          "id": 1
                        },
                        {
                          "type": "service-principal",
                          "id": 111111111111
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bindings"
                  ],
                  "properties": {
                    "bindings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IdPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http400BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "APIリクエストのレートリミット超過",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http429TooManyRequests"
                }
              }
            }
          },
          "503": {
            "description": "一時的な処理エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http503ServiceUnavailable"
                }
              }
            }
          }
        }
      }
    },
    "/service-principals": {
      "get": {
        "tags": [
          "service-principal"
        ],
        "summary": "サービスプリンシパル一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "プロジェクトID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "並び替えキー\n* `name` - サービスプリンシパル名昇順\n* `-name` - サービスプリンシパル名降順\n",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ServicePrincipal"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証情報が無効",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http401Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "アクセス権限がない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http403Forbidden"
                }
              }
            }
[...]
