{
  "openapi": "3.0.3",
  "info": {
    "title": "KMS/SecretManager/CloudHSM API",
    "version": "1.2.0",
    "description": "さくらのクラウド KMS / SecretManager / CloudHSM API"
  },
  "servers": [
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1",
      "description": "石狩第1ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1b/api/cloud/1.1",
      "description": "石狩第2ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/is1c/api/cloud/1.1",
      "description": "石狩第3ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/tk1a/api/cloud/1.1",
      "description": "東京第1ゾーン"
    },
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/tk1b/api/cloud/1.1",
      "description": "東京第2ゾーン"
    }
  ],
  "paths": {
    "/cloudhsm/cloudhsms": {
      "get": {
        "operationId": "listCloudHSMs",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudHSMList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createCloudHSM",
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCreateCloudHSMRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCreateCloudHSM"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/cloudhsm/cloudhsms/{cloudhsm_resource_id}/clients": {
      "get": {
        "operationId": "listCloudHSMClients",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "cloudhsm_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudHSMClientList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createCloudHSMClient",
        "parameters": [
          {
            "in": "path",
            "name": "cloudhsm_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCreateCloudHSMClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCreateCloudHSMClient"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/cloudhsm/cloudhsms/{cloudhsm_resource_id}/clients/{id}": {
      "get": {
        "operationId": "readCloudHSMClient",
        "parameters": [
          {
            "in": "path",
            "name": "cloudhsm_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "A unique value identifying this CloudHSMクライアント.",
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSMClient"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "updateCloudHSMClient",
        "parameters": [
          {
            "in": "path",
            "name": "cloudhsm_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "A unique value identifying this CloudHSMクライアント.",
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCloudHSMClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSMClient"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteCloudHSMClient",
        "parameters": [
          {
            "in": "path",
            "name": "cloudhsm_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "A unique value identifying this CloudHSMクライアント.",
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/cloudhsm/cloudhsms/{resource_id}": {
      "get": {
        "operationId": "readCloudHSM",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSM"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "updateCloudHSM",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCloudHSMRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSM"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteCloudHSM",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/cloudhsm/cloudhsms/{resource_id}/peers": {
      "get": {
        "operationId": "listCloudHSMPeers",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedPeerList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createCloudHSMPeer",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedPeerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/cloudhsm/cloudhsms/{resource_id}/peers/{peer_id}": {
      "delete": {
        "operationId": "deleteCloudHSMPeer",
        "parameters": [
          {
            "in": "path",
            "name": "peer_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/cloudhsm/licenses": {
      "get": {
        "operationId": "listCloudHSMLicenses",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudHSMSoftwareLicenseList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createCloudHSMLicense",
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCreateCloudHSMSoftwareLicenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCreateCloudHSMSoftwareLicense"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/cloudhsm/licenses/{license_resource_id}/documents": {
      "get": {
        "operationId": "listCloudHSMDocuments",
        "parameters": [
          {
            "name": "Count",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "From",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "license_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCloudHSMDocumentList"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/cloudhsm/licenses/{license_resource_id}/documents/{id}/download": {
      "post": {
        "operationId": "downloadCloudHSMDocument",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "A unique value identifying this CloudHSMドキュメント.",
            "required": true
          },
          {
            "in": "path",
            "name": "license_resource_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSMDocumentDownload"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/cloudhsm/licenses/{resource_id}": {
      "get": {
        "operationId": "readCloudHSMLicense",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSMSoftwareLicense"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "updateCloudHSMLicense",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedCloudHSMSoftwareLicenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedCloudHSMSoftwareLicense"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteCloudHSMLicense",
        "parameters": [
          {
            "in": "path",
            "name": "resource_id",
            "schema": {
              "type": "string",
              "title": "リソースID"
            },
            "required": true
          }
        ],
        "tags": [
          "cloudhsm"
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "schemas": {
      "CloudHSM": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ServiceClass": {
            "enum": [
              "cloud/cloudhsm/partition"
            ],
            "type": "string",
            "description": "* `cloud/cloudhsm/partition` - Type-L7",
            "x-spec-enum-id": "aec33bb088a5c108",
            "readOnly": true,
            "title": "サービスクラス"
          },
          "Availability": {
            "enum": [
              "precreate",
              "available",
              "discontinued"
            ],
            "type": "string",
            "description": "* `precreate` - 準備中\n* `available` - 利用可能\n* `discontinued` - 廃止",
            "x-spec-enum-id": "329069c36229258c",
            "readOnly": true,
            "title": "状態"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          },
          "IPv4NetworkAddress": {
            "type": "string",
            "title": "IPv4ネットワークアドレス",
            "example": "192.168.100.0"
          },
          "IPv4PrefixLength": {
            "type": "integer",
            "title": "IPv4プレフィックス長",
            "example": 24
          },
          "IPv4Address": {
            "type": "string",
            "readOnly": true,
            "example": "192.168.100.11"
          },
          "LocalRouter": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LocalRouter"
              }
            ],
            "nullable": true,
            "readOnly": true
          },
          "InitialData": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CloudHSMInitialData"
              }
            ],
            "nullable": true,
            "readOnly": true
          }
        },
        "required": [
          "Availability",
          "CreatedAt",
          "Description",
          "ID",
          "InitialData",
          "IPv4Address",
          "IPv4NetworkAddress",
          "IPv4PrefixLength",
          "LocalRouter",
          "ModifiedAt",
          "Name",
          "ServiceClass",
          "Tags"
        ]
      },
      "CloudHSMClient": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "01JP9500000000000000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "Availability": {
            "enum": [
              "precreate",
              "available",
              "discontinued"
            ],
            "type": "string",
            "description": "* `precreate` - 準備中\n* `available` - 利用可能\n* `discontinued` - 廃止",
            "x-spec-enum-id": "329069c36229258c",
            "readOnly": true,
            "title": "状態"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Certificate": {
            "type": "string",
            "readOnly": true,
            "title": "証明書",
            "example": "-----BEGIN CERTIFICATE-----\\nMIIC0DCCAbigAwIBAgIJAJ.....\\n-----END CERTIFICATE-----"
          }
        },
        "required": [
          "Availability",
          "Certificate",
          "CreatedAt",
          "ID",
          "ModifiedAt",
          "Name"
        ]
      },
      "CloudHSMClientRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          }
        },
        "required": [
          "Name"
        ]
      },
      "CloudHSMDocument": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "Name": {
            "type": "string"
          }
        },
        "required": [
          "CreatedAt",
          "ID",
          "ModifiedAt",
          "Name"
        ]
      },
      "CloudHSMDocumentDownload": {
        "type": "object",
        "properties": {
          "URL": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "URL"
        ]
      },
      "CloudHSMInitialData": {
        "type": "object",
        "properties": {
          "PartitionName": {
            "type": "string",
            "title": "HSM 上のパーティション名"
          },
          "Certificate": {
            "type": "string",
            "title": "HSM のサーバー証明書",
            "example": "-----BEGIN CERTIFICATE-----\\nMIIC0DCCAbigAwIBAgIJAJ.....\\n-----END CERTIFICATE-----"
          },
          "PartitionID": {
            "type": "string",
            "title": "HSM 上のパーティション ID"
          }
        },
        "required": [
          "Certificate",
          "PartitionID",
          "PartitionName"
        ]
      },
      "CloudHSMPeer": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "example": "110000000000"
          },
          "SecretKey": {
            "type": "string",
            "example": "PAIRINGSECRETKEY"
          },
          "Enabled": {
            "type": "boolean"
          },
          "Description": {
            "type": "string"
          }
        },
        "required": [
          "ID",
          "SecretKey"
        ]
      },
      "CloudHSMRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          },
          "IPv4NetworkAddress": {
            "type": "string",
            "minLength": 1,
            "title": "IPv4ネットワークアドレス",
            "example": "192.168.100.0"
          },
          "IPv4PrefixLength": {
            "type": "integer",
            "title": "IPv4プレフィックス長",
            "example": 24
          }
        },
        "required": [
          "IPv4NetworkAddress",
          "IPv4PrefixLength",
          "Name"
        ]
      },
      "CloudHSMSoftwareLicense": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ServiceClass": {
            "enum": [
              "cloud/cloudhsm/license/l7"
            ],
            "type": "string",
            "description": "* `cloud/cloudhsm/license/l7` - Type-L7",
            "x-spec-enum-id": "a5b49b449aca4a6f",
            "readOnly": true,
            "title": "サービスクラス"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "CreatedAt",
          "Description",
          "ID",
          "ModifiedAt",
          "Name",
          "ServiceClass",
          "Tags"
        ]
      },
      "CloudHSMSoftwareLicenseRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "Name"
        ]
      },
      "CreateCloudHSM": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ServiceClass": {
            "enum": [
              "cloud/cloudhsm/partition"
            ],
            "type": "string",
            "description": "* `cloud/cloudhsm/partition` - Type-L7",
            "x-spec-enum-id": "aec33bb088a5c108",
            "readOnly": true,
            "title": "サービスクラス"
          },
          "Availability": {
            "enum": [
              "precreate",
              "available",
              "discontinued"
            ],
            "type": "string",
            "description": "* `precreate` - 準備中\n* `available` - 利用可能\n* `discontinued` - 廃止",
            "x-spec-enum-id": "329069c36229258c",
            "readOnly": true,
            "title": "状態"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          },
          "IPv4NetworkAddress": {
            "type": "string",
            "title": "IPv4ネットワークアドレス",
            "example": "192.168.100.0"
          },
          "IPv4PrefixLength": {
            "type": "integer",
            "title": "IPv4プレフィックス長",
            "example": 24
          },
          "IPv4Address": {
            "type": "string",
            "readOnly": true,
            "example": "192.168.100.11"
          }
        },
        "required": [
          "IPv4NetworkAddress",
          "IPv4PrefixLength",
          "Name"
        ]
      },
      "CreateCloudHSMClient": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "Availability": {
            "enum": [
              "precreate",
              "available",
              "discontinued"
            ],
            "type": "string",
            "description": "* `precreate` - 準備中\n* `available` - 利用可能\n* `discontinued` - 廃止",
            "x-spec-enum-id": "329069c36229258c",
            "readOnly": true,
            "title": "状態"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Certificate": {
            "type": "string",
            "example": "-----BEGIN CERTIFICATE-----\\nMIIC0DCCAbigAwIBAgIJAJ.....\\n-----END CERTIFICATE-----"
          }
        },
        "required": [
          "Certificate",
          "Name"
        ]
      },
      "CreateCloudHSMClientRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Certificate": {
            "type": "string",
            "minLength": 1,
            "example": "-----BEGIN CERTIFICATE-----\\nMIIC0DCCAbigAwIBAgIJAJ.....\\n-----END CERTIFICATE-----"
          }
        },
        "required": [
          "Certificate",
          "Name"
        ]
      },
      "CreateCloudHSMRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          },
          "IPv4NetworkAddress": {
            "type": "string",
            "minLength": 1,
            "title": "IPv4ネットワークアドレス",
            "example": "192.168.100.0"
          },
          "IPv4PrefixLength": {
            "type": "integer",
            "title": "IPv4プレフィックス長",
            "example": 24
          }
        },
        "required": [
          "IPv4NetworkAddress",
          "IPv4PrefixLength",
          "Name"
        ]
      },
      "CreateCloudHSMSoftwareLicense": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true,
            "example": "110000000000"
          },
          "CreatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ModifiedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "ServiceClass": {
            "enum": [
              "cloud/cloudhsm/license/l7"
            ],
            "type": "string",
            "description": "* `cloud/cloudhsm/license/l7` - Type-L7",
            "x-spec-enum-id": "a5b49b449aca4a6f",
            "title": "サービスクラス"
          },
          "Name": {
            "type": "string",
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "Name",
          "ServiceClass"
        ]
      },
      "CreateCloudHSMSoftwareLicenseRequest": {
        "type": "object",
        "properties": {
          "ServiceClass": {
            "enum": [
              "cloud/cloudhsm/license/l7"
            ],
            "type": "string",
            "description": "* `cloud/cloudhsm/license/l7` - Type-L7",
            "x-spec-enum-id": "a5b49b449aca4a6f",
            "title": "サービスクラス"
          },
          "Name": {
            "type": "string",
            "minLength": 1,
            "title": "名前",
            "maxLength": 255
          },
          "Description": {
            "type": "string",
            "title": "説明"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "nullable": true
          }
        },
        "required": [
          "Name",
          "ServiceClass"
        ]
      },
      "LocalRouter": {
        "type": "object",
        "properties": {
          "ResourceID": {
            "type": "string",
            "example": "110000000000"
          },
          "SecretKey": {
            "type": "string",
            "example": "PAIRINGSECRETKEY"
          }
        }
      },
      "PaginatedCloudHSMClientList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "Clients",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "Clients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudHSMClient"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PaginatedCloudHSMDocumentList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "CloudHSMDocuments",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "CloudHSMDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudHSMDocument"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PaginatedCloudHSMList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "CloudHSMs",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "CloudHSMs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudHSM"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PaginatedCloudHSMSoftwareLicenseList": {
        "type": "object",
        "required": [
          "Count",
          "From",
          "Total",
          "Licenses",
          "is_ok"
        ],
        "properties": {
          "Count": {
            "type": "integer",
            "example": 10
          },
          "From": {
            "type": "integer",
            "example": 0
          },
          "Total": {
            "type": "integer",
            "example": 10
          },
          "Licenses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudHSMSoftwareLicense"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PeerRequest": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "minLength": 1,
            "example": "110000000000"
          },
          "SecretKey": {
            "type": "string",
            "minLength": 1,
            "example": "PAIRINGSECRETKEY"
          }
        },
        "required": [
          "ID",
          "SecretKey"
        ]
      },
      "WrappedCloudHSM": {
        "type": "object",
        "properties": {
          "CloudHSM": {
            "$ref": "#/components/schemas/CloudHSM"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "CloudHSM",
          "is_ok"
        ]
      },
      "WrappedCloudHSMClient": {
        "type": "object",
        "properties": {
          "Client": {
            "$ref": "#/components/schemas/CloudHSMClient"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Client",
          "is_ok"
        ]
      },
      "WrappedCloudHSMClientRequest": {
        "type": "object",
        "properties": {
          "Client": {
            "$ref": "#/components/schemas/CloudHSMClientRequest"
          }
        },
        "required": [
          "Client"
        ]
      },
      "WrappedCloudHSMDocumentDownload": {
        "type": "object",
        "properties": {
          "Document": {
            "$ref": "#/components/schemas/CloudHSMDocumentDownload"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Document",
          "is_ok"
        ]
      },
      "WrappedCloudHSMRequest": {
        "type": "object",
        "properties": {
          "CloudHSM": {
            "$ref": "#/components/schemas/CloudHSMRequest"
          }
        },
        "required": [
          "CloudHSM"
        ]
      },
      "WrappedCloudHSMSoftwareLicense": {
        "type": "object",
        "properties": {
          "License": {
            "$ref": "#/components/schemas/CloudHSMSoftwareLicense"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "License",
          "is_ok"
        ]
      },
      "WrappedCloudHSMSoftwareLicenseRequest": {
        "type": "object",
        "properties": {
          "License": {
            "$ref": "#/components/schemas/CloudHSMSoftwareLicenseRequest"
          }
        },
        "required": [
          "License"
        ]
      },
      "WrappedCreateCloudHSM": {
        "type": "object",
        "properties": {
          "CloudHSM": {
            "$ref": "#/components/schemas/CreateCloudHSM"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "CloudHSM",
          "is_ok"
        ]
      },
      "WrappedCreateCloudHSMClient": {
        "type": "object",
        "properties": {
          "Client": {
            "$ref": "#/components/schemas/CreateCloudHSMClient"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Client",
          "is_ok"
        ]
      },
      "WrappedCreateCloudHSMClientRequest": {
        "type": "object",
        "properties": {
          "Client": {
            "$ref": "#/components/schemas/CreateCloudHSMClientRequest"
          }
        },
        "required": [
          "Client"
        ]
      },
      "WrappedCreateCloudHSMRequest": {
        "type": "object",
        "properties": {
          "CloudHSM": {
            "$ref": "#/components/schemas/CreateCloudHSMRequest"
          }
        },
        "required": [
          "CloudHSM"
        ]
      },
      "WrappedCreateCloudHSMSoftwareLicense": {
        "type": "object",
        "properties": {
          "License": {
            "$ref": "#/components/schemas/CreateCloudHSMSoftwareLicense"
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "License",
          "is_ok"
        ]
      },
      "WrappedCreateCloudHSMSoftwareLicenseRequest": {
        "type": "object",
        "properties": {
          "License": {
            "$ref": "#/components/schemas/CreateCloudHSMSoftwareLicenseRequest"
          }
        },
        "required": [
          "License"
        ]
      },
      "WrappedPeerList": {
        "type": "object",
        "properties": {
          "Peers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudHSMPeer"
            }
          },
          "is_ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "Peers",
          "is_ok"
        ]
      },
      "WrappedPeerRequest": {
        "type": "object",
        "properties": {
          "Peer": {
            "$ref": "#/components/schemas/PeerRequest"
          }
        },
        "required": [
          "Peer"
        ]
      },
      "DateTime": {
        "type": "string",
        "format": "iso8601",
        "example": "2025-02-05T12:19:22.551827+09:00"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "APIキーとシークレットをご利用ください"
      }
    }
  }
}
